<main class="index">

    <header class="confhead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">My Favorite Links</h1>
            <h2 class="mb-4">
                <em>save your links here</em>
            </h2>
            <a href="/signin" class="btn btn-primary">
                Let's get started
            </a>
        </div>
    </header>

</main>