body{
    background-color: #f5f6f5;
    overflow: hidden;
}

.index{
    width: 100vw;
    height: 100vh;
}

.confhead{
    color: white;
    height: 100%;
    width: 100%;
    min-height: 30rem;
    padding-top: 8rem;
    background: url('/img/backg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.confhead h1{
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

@media (min-width: 900px){
    .confhead{
        font-size: 5.5rem;
    }
}